@using LakeXplorerProject.Data.ViewModels;
@model LakeVM

<style>
    body {
        background-color: whitesmoke;
    }
</style>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-dark " @*style="background-color:#0057D9;"*@>
                        <p class="card-text">

                            <h5 class="card-title">
                                <h3>LakeName: @Model.Lake.Name</h3>
                            </h5>
                        </p>
                    </div>
                </div>

                @if (Model.Lake.ImageData != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Lake?.ImageData)" style="height:250px; width:250px;" />
                }
                else
                {
                    <p>No image available</p>
                }
                <div class="col-md-8">
                    <h1>Description</h1>
                    <div class="card-body">
                        <p class="card-text">@Model.Lake.Description</p>

                    </div>
                </div>
                <h1>Lake Sightings</h1>
                @foreach (var item in Model.LakeSightings)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" style="height:450px; width:500px;" />
                }

                <div class="btn-group">
                    <a class="btn btn-outline-secondary" asp-action="Index">Back</a>

                </div>
            </div>
        </div>
    </div>

</div>


